go 1.25.0

use (
	./packages/go/logutil
	./packages/go/netproxy
	./packages/go/serviceipc
	./packages/go/tunnel
	./platform
	./services/ftp-service
	./services/mcp-vastbase-readonly
	./services/mongodb-service
	./services/mysql-service
	./services/vastbase-service
)
